<div class="card-container">
    <p-card>
      <ng-template pTemplate="header">
        <h2 class="card-title">User Details</h2>
      </ng-template>
      <p-table [value]="user ? [user] : []" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="body" let-user>
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.surname }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.dateOfBirth | date:'yyyy-MM-dd' }}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
  